<div class="container mt-4">
  <div class="row">

    <!-- <div class="col-sm-2"></div> -->
    <div class="check col-sm-8">

            <div class="row">
                    <div class="col-sm-4">
                        <div class="row"><p>Name</p></div>
                        <div class="row"><p>Address</p></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row"><p></p></div>
                        <div class="row"><p></p></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row"><p>Id</p></div>
                        <div class="row"><p class="field">{{dateString}}</p></div>
                    </div>
            </div>

            <div class="row">
                    <div class="col-sm-8">
                        <div class="row"><p class="field">{{check.payee}}</p></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row"><p class="field">AU$ {{check.amount}}</p></div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row"><p class="field">{{check.amountInWords}}</p></div>
                    </div>
            </div>

            <div class="row">
                    <div class="col-sm-5">
                        <div class="row"><p>Bank</p></div>
                        <div class="row"><p>Memo</p></div>
                    </div>
                    <div class="col-sm-2">
                        <div class="row"><p></p></div>
                        <div class="row"><p></p></div>
                    </div>
                    <div class="col-sm-5">
                        <div class="row"><p>_____________</p></div>
                        <div class="row"><p>Signature</p></div>
                    </div>
            </div>

            <div class="row">
                    <div class="col-sm-7">
                        <div class="row"><p> --- code --- </p></div>
                    </div>
                    <div class="col-sm-5">
                        <div class="row"><p></p></div>
                    </div>
            </div>

    
    </div>

  </div>
</div>












