.field {
    color: blue;
}

p {
    margin: auto;
}

.x {
    border-style: solid; 
    border-color: black;
}

.check {
    border-style: solid; 
    border-color: rgba(255, 219, 172, 0.938);
    background-color: antiquewhite;
}